<ion-header>
  <ion-toolbar>
    <ion-title>Perfil do cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">

    <ion-item>
      <img [src]="usuario.foto" alt="" *ngIf="usuario.foto != null">
      <img src="/assets/perfil.jpg" alt="" *ngIf="usuario.foto == null">
    </ion-item>

    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-text>{{usuario.nome}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-text>{{usuario.email}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Ativo</ion-label>
      <ion-text>{{usuario.ativo}}</ion-text>
    </ion-item>

  </ion-list>
</ion-content>